<div class="container">
  <div class="row">
    <div class="col-md-6">

<h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>
<p>In □Bookers,<br>
   you can share and exchange your opinion ,inpression, and emotions <br>
   about various books!</p>

   <%= link_to  new_user_session_path , class: 'btn btn-info col-xs-10' do%>login<% end %>
   <%= link_to  new_user_registration_path , class: 'btn btn-success col-xs-10' do%>sign up<% end %>
 
   </div>
  </div>
</div>