<h1>Welcome to □Bookers!</h1>
<p>In □Bookers,<br>
   you can share and exchange your opinion ,inpression, and emotions <br>
   about various books!</p>

  <div><%= link_to "sign up", new_user_registration_path %></div>
  <div><%= link_to "login", new_user_session_path %></div>
