<%= render 'books/form', book: @com %>
<!-- 投稿一覧 -->

<div class="col-xs-9">
<h1>Users</h1>　 

  <table>
    <thead>
      <tr>
        <th>Image</th> 
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <% @users.each do |user| %> 
    <tbody>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></td>
        <td><%= user.name %></td>
        <td>  <%= link_to "Show", user_path(user.id) %></td>
      </tr>
    </tbody>
  <% end %>
 </table>
</div>
